<div class="main-wrapper">
  <main class="main">
    <div class="parallax-wrapper">
      <div class="layer" data-depth=".8">
        <img src="assets/images/scene2.png" alt="">
      </div>
      <div class="layer" data-depth=".6">
        <img src="assets/images/scene3.png" alt="">
      </div>
      <div class="layer" data-depth=".4">
        <img src="assets/images/scene4.png" alt="">
      </div>
      <div class="layer cloud" data-depth="0">
        <img src="assets/images/scene5.png" alt="">
        <img src="assets/images/scene5.png" alt="">
      </div>
      <div class="layer" data-depth="0">
        <img src="assets/images/scene6.png" alt="">
      </div>
    </div>

    <div class="rain front-row"></div>
    <div class="rain back-row"></div>
  </main>
</div>
