@import '~src/assets/scss/variables';

.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.main {
  margin: auto;
  border: 2px solid rgba(0, 0, 0, .7);
  position: relative;
  overflow: hidden;
  // width: 80vw;
  // height: 90vh;
  max-width: 1060px;
  max-height: 600px;

  background: rgba(255, 255, 255, 0.7);

  // @media (max-width: $screen-xs-max) {
  //   width: 100%;
  //   height: 100%;
  // }

  img {
    width: 100%;
    transform: scale(1.6);
  }

  .layer--front {
    animation: fade-trans-in 4s ease-out both .5s;
  }

  .layer--cloud {
    display: flex !important;
    flex-wrap: nowrap;
    opacity: .5;
    animation: fade-trans-in 4s ease-out both 2s;

    img {
      // width: 100%;
      height: 100%;
      animation: slide 20s infinite linear both;
    }
  }

  // Fade in
  // .cloud {
  //   animation: fade-in 1s both 2.5s;
  // }
}

.title-wrapper {
  position: absolute;
  top: 4rem;
  text-align: center;
  width: 100%;
  animation: fade-trans-zoom-in 5s ease-out both .5s;
  // animation: fade-trans-zoom-in 5s ease-out both 1.2s;
  z-index: 3;

  .title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 10rem;
  }
}

.rain {
  animation: fade-trans-zoom-in 5s ease-out both 2s;
}

.lightning {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: radial-gradient(ellipse at center 8rem, rgba($color-white, .5) 0%, rgba($color-white, 0) 100%);
  // background: radial-gradient(ellipse at top right, rgba($color-white, .5) 0%, rgba($color-white, 0) 100%);
  animation: flash .7s ease-out both 5s;
}

@keyframes slide {
  0% {
    transform: translate3d(-100%, 0, 0) scale(1.6);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1.6);
  }
}

@keyframes fade-trans-zoom-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0) scale(.9);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes fade-trans-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flash {
	0% { opacity: 0; }
  20% { opacity: 0; }
	40% { opacity: 0.6; }
  60% { opacity: 0.2; }
  80% { opacity: 1; }
	100% { opacity: 0; }
}

// @keyframes flash {
// 	0% { opacity: 0; }
//   92% { opacity: 0; }
// 	93% { opacity: 0.6; }
//   94% { opacity: 0.2; }
//   96% { opacity: 1; }
// 	100% { opacity: 0; }
// }

// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
